REACT_APP_API_URL = "https://dev.biniyog.com.bd"
REACT_APP_ACCESS_TOKEN = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6NTIsImVtYWlsIjoia2hhbi5hc2suaWJyYWhpbUBnbWFpbC5jb20iLCJwaG9uZSI6bnVsbCwiZmlyc3ROYW1lIjoiSWJyYWhpbSIsInByb2ZpbGVQaWN0dXJlIjoiL2Fzc2V0cy9pbWFnZXMvdXNlci0yLnBuZyIsInV1aWQiOiI3OGRjNWE2ZS1mNzJmLTRkOTYtOGEwZS0xMzA2Y2QzMTZjOTQiLCJhY2NvdW50cyI6WyI5OTY2YzE5Yi0zMWZiYi0zMjMyLThiNzctNGM5NWM5NzYzZHMiXSwiaWF0IjoxNjk4MjkxNzkzLCJleHAiOjE2OTgzMjA1OTN9.sHB7w5Rcc5MPA8pOnGW0thz3M56s2OlA9K2AmKPqOFw"
REACT_APP_UUID = "9966c19b-31fbb-3232-8b77-4c95c9763ds"
